@font-face {
    font-family: "dajungDagam";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/dajungDagam/dajungDagam.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/dajungDagam/dajungDagam.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/dajungDagam/dajungDagam.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/dajungDagam/dajungDagam.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/dajungDagam/dajungDagam.ttf") format("truetype");
    font-display: swap;
}
.dajungDagam {
    font-family: "dajungDagam";
}